<h2>Guest Entry</h2>


<div class="terminal">

    <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">

                <input type="radio" name="guestInputType" value="comment" (click)="textClick()" checked /> Write a
                comment :<br>


                <textarea [disabled]="textBoxDisabled" class="form-control" id="comment" cols="200" rows="5"
                    [(ngModel)]="guestEntry.comment" name="comment"></textarea>
            </div>

            <div class="form-group">
                <input type="radio" name="guestInputType" value="image" (click)="imageClick()" /> Upload an Image : <br>


                <input [disabled]="imageBoxDisabled" type="file" class="form-control" id="image"
                    [(ngModel)]="guestEntry.image" name="image" (change)="onFileChanged($event)">
            </div>

            <button class="btn btn-success" type="submit">Save Entry</button>&nbsp;&nbsp;
            <button (click)="viewMyComments()">View My Comments</button>

        </form>
    </div>
</div>