<h2>Update Guest Entry </h2>


<div class="terminal">

    <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label> Write a comment : </label>
                <textarea class="form-control" id="comment" [(ngModel)]="guestEntry.comment" name="comment"></textarea>
            </div>

            <div class="form-group">
                <label> Upload an Image : </label>
                <input type="file" class="form-control" id="image" [(ngModel)]="guestEntry.image" name="image">
            </div>

            <button class="btn btn-success" type="submit">Update Entry</button>

        </form>
    </div>

</div>