<h2>Login</h2>

<div class="terminal">

    <div class="col-md-6 offset-md-3">

        <form (ngSubmit)="onSubmit()">
            <h4>

                <input type="radio" value="Guest" name="userType" [(ngModel)]="login.userType"> Guest
                &nbsp;&nbsp;<input type="radio" value="Administrator" name="userType" [(ngModel)]="login.userType"> Administrator
                <br /><br />
            </h4>

            <div class="form-group">
                <label> User Name : </label>
                <input type="text" class="form-control" id="userName" [(ngModel)]="login.userName" name="firstName">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="login.password" name="password">
            </div>

            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</div>