<h2> View My Comments</h2>

<div class="terminal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th> COMMENTS / IMAGE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let guestEntry of guestEntryList">

                <td>
                    <span *ngIf="guestEntry.comment != ''">
                        {{ guestEntry.comment }}
                    </span>

                    <span *ngIf="guestEntry.imageName != ''">
                        Click to download Image : <a
                            href="http://localhost:8080/api/guestapp/admin/downloadImage/{{guestEntry.guestEntryId}}">
                            {{guestEntry.imageName}} </a>
                    </span>
                </td>
            </tr>
        </tbody>

    </table>
    <button (click)="addNewComment()" class="btn btn-success" type="submit">Add New Comment</button>
</div>